
a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.desktop-navmenu {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  list-style-type: none;
}

ul li a {
  font-size: 20px;
}

a:hover {
  color: green;
}

.container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;

}

.main {
  text-align: center;
  padding-top: 10%;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.37px;
}
i{
  display:none;
}

.heading {
  color: #172b4d;
}

.info {
  color: #36b37e;
}

p {
  width: 70%;
  text-align: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.social-icons {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  margin-left: -52px;
  list-style-type: none;
}

.fa-brands {
  font-size: 20px;
}

.icon {
  padding: 4px;
  align-items: center;
}

@media only screen and (min-width: 375px) {
  .container {
    background-image: url(image/mobilebackground.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: bottom;
  }
  .hamburger{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    font-size:30px;
  }

  .mobilemenu > i {
    font-size: 30px;
  }

  .mobilemenu {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;
    flex-basis: 50%;
    margin-top: 30px;
  }

  .mobileinfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    flex-basis: 50%;
  }
  .mobilelogo>h1{
    display:flex;
    text-align:left;
  }

  h1 {
    font-size: 30px;
  }

  .desktop-nav {
    display: none;
  }

  .mobilelogo {
    color: black;
  }
   ul li{
    padding:10px;
  }

  
  
}

@media only screen and (min-width: 768px) {
  body {
    background-color: transparent;
    
    
  }

  h1 {
    font-size: 30px;
  }

  .container {
    display: flex;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  a {
    color: black;
  }
 
.mobile-menu{
  display:none;
}
  .mobileinfo {
    display: none;
  }
  #mobile-menu-container{
    display:none !important;
  }
  .mobilelogo{
    display:none;
  }
  .hamburger{
    display:none;
  }
}


.closehamburger-icon{
  display:flex;
  justify-content:flex-end;
  margin-right: 5%;
  margin-top: 2%;
}


#mobile-menu-container ul li a {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.mobileinfo{
  display: flex;
  justify-content: flex-start; /* Align items to the right */
  
}


#mymobilelinks{
  display: flex;
  flex-direction: column; /* Stack menu items vertically */
  align-items: center; /* Center menu items horizontally */
  justify-content: center; /* Center menu items vertically */

}




.card-container{
  display:flex;
  flex-direction:row;
margin-left:1%;

}
.card1{
  flex:33.33%;
  border-style:solid;
  border-color:black;
  border-width:1px;
  margin-right:2%; 

}
.card2{
  flex:33.33%;
  border-style:solid;
  border-color:black;
  border-width:1px;
  margin-right:2%; 

}
.card3{
  flex:33.33%;
  border-style:solid;
  border-color:black;
  border-width:1px;
  margin-right:2%; 
}
.card4{
  flex:33.33%;
  border-style:solid;
  border-color:black;
  border-width:1px;
  margin-right:2%; 

}
.card5{
  flex:33.33%;
  border-style:solid;
  border-color:black;
  border-width:1px;
  margin-right:2%; 
}
.card6{
  flex:33.33%;
  border-style:solid;
  border-color:black;
  border-width:1px;
  margin-right:2%; 
}
.imagebox{
  width:436px;
  height:340px;
  background-color: #ebf0ee;
}
.imagebox>img{
  border:1px solid #ebf0ee;
  justify-content: center;
}
.title .head ul li {
  text-align:center;
  border-right: 8px;
  border-left:8px;
  border-color:black;
  border:1px solid black;
  

}
.head{
  color:#3a4a42;
  font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    padding-top: 15px;
    margin-top:-20px;
 text-align:center;
}

.languageinfo{
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-gap:5px;
  margin-top: -22px;
    margin-bottom: 5px;
    margin-right: 38px;

}
.languageinfo>li {
  background-color: #ebf0ee;
    border: none;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    list-style-type: none;
}
.languageinfo ul li{
  list-style-type: none;
}
#see-project{
  background-color: #36b37f;
  border-radius:5px;
  border:none;
  color:white;
  font-size:18px;
  margin-top:15px;
  width:120px;
  height:40px;
margin-left:35%;  
cursor: pointer;
}
#see-project button{
text-align: center;
cursor: pointer;
}

#see-project>button:hover{
  width:300px;
  background-color:#36b37f;
  box-shadow:0 1px 1px 0 #a1e9cb, 0 6px 20px 0 #a1e9cb;
}