.desktop-nav .navbar .icons>a{
    
width: 63px;
height: 20px;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 20px;
color: #344563;
flex: none;
order: 0;
flex-grow: 0;
text-decoration: none;

}
.desktop-nav .navbar .icons{
    list-style-type: none;
    padding:33px;
}
.desktop-nav .navbar{
    display: flex;
align-items: center;
text-align: center;
justify-content: center;
}

.title-container{
    display: flex;
flex-direction: column;
align-items: center;
padding: 160px 0px;
gap: 24px;


}

.heading{
    background-image: url(image/background.png);
background-size:80%;
background-repeat:no-repeat;
background-position-y: -410px;
background-position-x:220px;


}

.nametitle{
 width: 920px;
height: 41px;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 60px;
text-align: center;
letter-spacing: 0.37px;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;
}

.profession{
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 60px;
text-align: center;
letter-spacing: 0.37px;
color:#36B37E;
flex: none;
order: 0;
flex-grow: 0;
}
.para .paragraph{
width: 768px;
height: 96px;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
text-align: center;
color: #172B4D;
flex: none;
order: 1;
flex-grow: 0;
margin-top:-47px;
}

@media screen and (max-width:767px){
    .heading{
        background-repeat:no-repeat;
        background-image:url(image/background.png);
        background-size:100%;
        background-position-y:-50px;
        text-align: center;
        align-items:center;
    
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
    .heading{
        background-image: url("./image/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -10rem;
        background-position-y: 0rem;
        padding-top: 5.5rem;
    }
    .title-container{
        margin-top:-105px;
    }
}


.downarrow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 40px;
    height: 40px; 
    background: #FFFFFF;    
    border: 1px solid #DFE1E6;
    border-radius: 32px;
    margin-top:140px;
    margin-left:41px;

}

.social-media-icons .social-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 200px;
    height: 40px;    
    flex: none;
    order: 2;
    flex-grow: 0;
    justify-content: center;
    margin-left:-31px;
    margin-top:-30px;
}
.social-media-icons .social-icons .icon{
    padding:16px;
    list-style-type: none;
}

.recentworkcontainer{
    display: flex;
flex-direction: column;
align-items: center;
padding: 80px 0px;
gap: 48px;

}

.recenthead{
    width: 447px;
height: 48px;

font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;
text-align: center;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;

}
.cardworks{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 1171px;
height: 988px;
flex: none;
order: 1;
flex-grow: 0;
}

.imagehead{
    
width: 337px;
height: 57px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;
text-align: center;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;
}
.imagelinks .language{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
width: 305px;
height: 32px;
flex: none;
order: 1;
flex-grow: 0;
list-style-type: none;
}
.imagelinks .language .rails1{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
width: 103px;
height: 32px;
background: #EBF0EE;
border-radius: 4px;
flex: none;
order: 0;
flex-grow: 0;
}
.imagelinks .language  .rails2{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
width: 45px;
height: 32px;
background: #EBF0EE;
border-radius: 4px;
flex: none;
order: 1;
flex-grow: 0;
}

.imagelinks .language .js{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    width: 82px;
    height: 32px;    
    background: #EBF0EE;
    border-radius: 4px;    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.imagelinks .language .rails4{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px;
width: 51px;
height: 32px;
background: #EBF0EE;
border-radius: 4px;
flex: none;
order: 3;
flex-grow: 0;
}

.seeproject{
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;
background: #36B37F;
border-radius: 4px;

}
.see-project{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
background-color: #36B37F;
flex: none;
order: 0;
flex-grow: 0;
outline:none;
border-width:0px;
width:100px;
height:10px;

}